<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" th:href="@{/}">Ohtu-Hatut</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/references/choose}" id="reference-choose">New reference</a></li>
                            <li><a th:href="@{/referencelists/new}" id="referencelist-new">New referencelist</a></li>
                            <li><a th:href="@{/references/}" id="references">References</a></li>
                            <li><a th:href="@{/referencelists/}" id="referencelist">Reference lists</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a th:href="@{/referencelists/export_all}" id="exportall">Export all references</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </div>
    </body>
</html>