<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>References</title>
        <th:block th:replace="fragments/imports :: imports"></th:block>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar">Navbar</div>
        <div class="container">
            <div>
                <h1>Welcome to the reference app</h1>
            </div>
        </div>
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </body>
</html>