<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>References</title>
    <th:block th:replace="fragments/imports :: imports"></th:block>
</head>
<body>
<div th:replace="fragments/navbar :: navbar">Navbar</div>
<div class="container">
    <div th:each="field : ${reference.mandatoryFields}">
    <h1 th:text="'*' + ${field} + ':'"></h1>
    <span th:text="${reference.getField(field)}"></span>
    </div>
<div th:each="field : ${reference.optionalFields}">
    <div th:if="${reference.getField(field) != '' and reference.getField(field) != 'null'}">
        <h1 th:text="${field} + ':'"></h1>
        <span th:text="${reference.getField(field)}"></span>
    </div>
</div>
</div>
</body>
</html>