<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>References</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <th:block th:replace="fragments/imports :: imports"></th:block>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar">Navbar</div>
        <div class="container">


            <h1>References</h1>

            <span th:if="${#lists.isEmpty(references)}">No references in the database at the moment</span>
            <ul>
                <li th:each="reference : ${references}">
                    <a th:href="@{/references/{referenceId}(referenceId=${reference.id})}"><span th:text="${reference.title}"></span></a> 
                    <a class="btn btn-xs btn-primary" th:href="@{/references/{id}/edit(id=${reference.id})}">Edit</a>
                    <button class="btn btn-xs btn-danger" th:onclick="'confirmDeletion(' + ${reference.id} + ')'">Delete</button>
                    <form th:id="'delete-reference-' + ${reference.id}" action="#" th:action="@{/references/{id}/delete/(id=${reference.id})}" th:object="${reference}" method="post">
                    </form></li>
            </ul>
        </div>
        <th:block th:replace="fragments/footer :: footer"></th:block>
        <script>
            function confirmDeletion(referenceId) {
                if (confirm("Confirm deletion of reference") === true) {
                    $("#delete-reference-" + referenceId).submit();
                }
            }
        </script>
    </body>
</html>
