<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body>
        <div>
            <h1>Choose the type of reference you want to make:</h1>
            <ul>
                <li><a th:href="@{/references/bookreferences/new}">Book reference</a></li>
                <li><a th:href="@{/references/articlereferences/new}">Article reference</a></li>
                <li><a th:href="@{/references/bookletreferences/new}">Booklet reference</a></li>
                <li><a th:href="@{/references/manualreferences/new}">Manual reference</a></li>
            </ul>
        </div>
    </body>
</html>
