<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>References</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <th:block th:replace="fragments/imports :: imports"></th:block>
    </head>
    <body ng-app="Ohtu-Hatut">      

        <div th:replace="fragments/navbar :: navbar">Navbar</div>
        <div ng-controller="ReferenceController">
            <div class="container">

                <h1>References</h1>

                <span ng-hide="references.length">No references in the database at the moment</span>
                <div ng-show="references.length">

                    Search: <input ng-model="query"></input>
                    <ul class="list-group">
                        
                        <li ng-repeat="ref in references| filter:query" class="list-group-item">
                            <a ng-href="/references/{{ref.id}}">{{ref.title}}</a>
                            <a class="btn btn-xs btn-primary pull-right" ng-href="/references/{{ref.id}}/edit">Edit</a>
                            <button class="btn btn-xs btn-danger pull-right" ng-click="confirmDeletion(ref.id)">Delete</button>
                        </li>

                    </ul>
                </div>
            </div>

            <th:block th:replace="fragments/footer :: footer"></th:block>
        </div>
        <script src="/js/scripts.js"></script>
        <script src="/js/reference_controller.js"></script>
    </body>
</html>
