<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Edit reference: ' + ${reference.title}">Edit reference: </title>
        <meta charset="UTF-8"></meta>
        <div th:replace="fragments/imports :: imports"></div>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar">Navbar</div>
        <div class="container">

            <div class="page-header">
                <h1 th:text="'Edit reference: ' + ${reference.title}"></h1>
            </div>
            
            <div class="alert alert-danger" th:if="${emptyFieldMessage != null}">
                <p th:text="${emptyFieldMessage}"></p>
            </div>
            
            <div th:if="${keyUsed}" class="alert alert-danger">
                <p th:text="${keyUsed}"></p>
            </div>

            <form class="form-horizontal" action="#" th:action="@{/references/{id}/edit/(id=${reference.id})}" th:object="${reference}" method="post">
                <div class="form-group">
                    <label for="key" class="col-sm-2 control-label">*Key:</label>
                    <div class="col-sm-10" th:classappend="${emptyFields.contains('key')} or ${keyUsed} ? 'has-error'">
                        <input class="form-control" type="text" id="key" name="key" th:value="${reference.key != null} ? ${reference.key} : ''"/>
                    </div>
                </div>
                <div class="form-group" th:each="field : ${reference.fields}" th:if="${field != 'key'}">
                    <label th:style="${reference.mandatoryFields.contains(field)} ? 'font-weight: bold' : 'font-weight: normal'" th:for="${field}" class="col-sm-2 control-label"><span th:if="${#lists.contains(reference.mandatoryFields, field)}">*</span><span th:text="${field} + ':'"></span></label>

                    <div class="col-sm-10" th:classappend="${emptyFields.contains(field)} ? 'has-error'">
                        <input class="form-control" th:if="${field =='year'}" th:id="${field}" type="number" th:name="${field}"
                               th:value="${reference.getField(field) != null} ? ${reference.getField(field)} : ''"/>
                        <input class="form-control" th:if="${field !='year'}" th:id="${field}" type="text" th:name="${field}"
                               th:value="${reference.getField(field) != null} ? ${reference.getField(field)} : ''"/>
                    </div>
                </div>

                <input type="hidden" th:id="id" th:name="id" th:value="${reference.id}"/>
                <input type="hidden" th:id="type" th:name="type" th:value="${reference.type}"/>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p>Fields marked with * are mandatory.</p>
                        <hr/>
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                        <button type="button" class="btn btn-danger" onclick="confirmDeletion()">Delete</button>
                    </div>
                </div>
            </form>
            <form id="delete-reference" action="#" th:action="@{/references/{id}/delete/(id=${reference.id})}" th:object="${reference}" method="post">
            </form>
        </div>

        <th:block th:replace="fragments/footer :: footer"></th:block>

        <script>
            function confirmDeletion() {
                if (confirm("Confirm deletion of reference") === true) {
                    $("#delete-reference").submit();
                }
            }
        </script>
    </body>
</html>
