<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create a new reference</title>
        <meta charset="UTF-8"></meta>
        <th:block th:replace="fragments/imports :: imports"></th:block>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar">Navbar</div>
        <div class="container">

            <h1>Create a new reference</h1>


            <p th:if="${emptyFields}" th:text="${emptyFields}" class="alert alert-danger"></p>

            <form action="#" th:action="@{/references/new/}" th:object="${reference}" method="post">
                <p>
                    <span>*Key:</span><br/>
                    <input id="key" name="key"/>
                </p>
                <p th:each="field : ${mandatoryFields}" th:if="${field != 'key'}">
                    <span>*</span><span th:text="${field} + ':'"></span><br/>
                    <input th:if="${field =='year'}" th:id="${field}" type="number" th:name="${field}"/><br/>
                    <input th:if="${field !='year'}" th:id="${field}" type="text" th:name="${field}"/><br/>
                </p>
                <p th:each="field : ${optionalFields}" th:if="${field != 'key'}">
                    <span th:text="${field} + ':'"></span><br/>
                    <input th:if="${field =='year'}" th:id="${field}" type="number" th:name="${field}"/><br/>
                    <input th:if="${field !='year'}" th:id="${field}" type="text" th:name="${field}"/><br/>
                </p>

                <p>Fields marked with * are mandatory.</p>

                <input type="hidden" th:id="type" th:name="type" th:value="${reference.type}"/><br/>
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </form>
        </div>
    
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </body>
</html>
